[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "==3.5.3"
requests = "==2.26.0"
fastapi = "==0.66.0"
python-dotenv = "==0.18.0"
loguru = "==0.5.3"
uvicorn = {extras = ["standard"], version = "==0.12.2"}
sqlalchemy = "==1.4.15"
psycopg2-binary = "==2.8.6"

[dev-packages]
pytest = "==6.2.4"
pytest-cov = "==2.12.1"
pytest-mock = "==3.6.1"
black = "==21.6b0"
flake8 = "==3.9.2"
pylint = "==2.9.3"
bandit = "==1.7.0"
isort = "==5.9.2"

[requires]
python_version = "3.8"
